// * {
//   background: rgba(211, 211, 211, 0)
// }
html {
  font-family: Nunito !important;
  // background: url(https://static.pexels.com/photos/417458/pexels-photo-417458.jpeg) no-repeat center center /cover;
  background-color: #101010;
  background-repeat: round;
}

html:before {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #101010;
  background: url('/background.jpg') no-repeat center center /cover;
  content: '';
  z-index: -1;
  -webkit-animation: blureffect 2s ease-out;
}

@-webkit-keyframes blureffect {
  from {
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }
  // 10% {
  //   -webkit-filter: blur(5px);
  //   filter: blur(5px);
  // }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

h3, h4, h2, tr, th {
  font-weight: normal;
  font-family: Nunito;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  font-family: Nunito;
  // background-color: #101010;
  color: white;

  h3, h4, h2, tr, th {
    font-weight: normal;
  }

  h5 {
    margin-bottom: 1em;
    margin-top: 0.6em;
    font-size: 1.2em;
    font-weight: lighter;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

#main {
  display: flex;
  width: 90%;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  z-index: 100;
  // height: 80vh;
}

.input {
  width: 100%;
  font-size: 25px
}

.form form {
  background: rgba(255, 255, 255, 0)
}

.form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0)
}

.line {
  width: 100%;
  flex-direction: row;
}

#entersong {
  margin-left: 50%;
  margin-right: 50%;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 50px;
  margin-left: 25%;
  padding: 0 25px 0 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px -8px #30271f, 0 0 25px -2px hsla(63,88%,91%,.119), 0 3px 16px 2px hsla(53,96%,91%,.139);
  font-size: 2em;
  text-shadow: 0 6px 1px hsla(0,0%,44%,.043), 0 0 5px hsla(0,0%,49%,.043), 0 1px 3px hsla(0,0%,45%,.16), 0 2px 4px hsla(0,0%,45%,.119), 0 2px 5px hsla(0,0%,49%,.16), 0 5px 5px hsla(0,0%,51%,.091), 0 10px 10px hsla(0,0%,45%,.077);
  border-width: 0;
  background-color: rgba(62,54,255,.36);
  color: #fff;
  visibility: visible;
  animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 1.7em;
  letter-spacing: 2vw;
  text-align: center;
}

#entersong button {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  justify-content: center;
  border-radius: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px -8px #30271f, 0 0 25px -2px hsla(63,88%,91%,.119), 0 3px 16px 2px hsla(53,96%,91%,.139);
  font-size: 2em;
  text-shadow: 0 6px 1px hsla(0,0%,44%,.043), 0 0 5px hsla(0,0%,49%,.043), 0 1px 3px hsla(0,0%,45%,.16), 0 2px 4px hsla(0,0%,45%,.119), 0 2px 5px hsla(0,0%,49%,.16), 0 5px 5px hsla(0,0%,51%,.091), 0 10px 10px hsla(0,0%,45%,.077);
  border-width: 0;
  background-color: rgba(62,54,255,.36);
  color: #fff;
  visibility: visible;
  animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 1.7em;
  letter-spacing: 2vw;
  text-align: center;
}

#entersong:hover {
  background-color: rgba(60, 21, 255, 0.584);
  box-shadow: inset 0px 0px 5px -1px #000000, 
  inset 0px 0px 42px -10px #A5A5A5;
  color: white;
  text-shadow: 
  0 6px 1px rgba(82, 117, 226, 0.043)
  0 0 5px rgba(82, 117, 226, 0.043),
  0 1px 3px rgba(82, 117, 226, 0.16),
  0 2px 4px rgba(82, 117, 226, 0.119),
  0 2px 5px rgba(82, 117, 226, 0.16),
  0 5px 5px rgba(82, 117, 226, 0.091),
  0 10px 10px rgba(82, 117, 226, 0.077);
  text-align: center;
}

#navbar {
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: center;
  background: linear-gradient(#bb00fb12, #bc00fbb3, #bc00fb00);
  margin-bottom: 0.5em;
  border-radius: 10px;
  -webkit-animation: navfade 6s;
}

#navbar-stay{
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: center;
  background: linear-gradient(#bb00fb12, #bc00fbb3, #bc00fb00);
  margin-bottom: 0.5em;
  border-radius: 10px;
}

@-webkit-keyframes navfade {
  0% {
    background: linear-gradient(#bc00fb00, #bc00fb00 , #bc00fb00);
  }
  91% {
    background: linear-gradient(#bc00fb00, #bc00fb00 , #bc00fb00);
  }
  92% {
    background: linear-gradient(#bc00fb00, #bc00fb15 , #bc00fb00);
  }
  93% {
    background: linear-gradient(#bc00fb00, #bc00fb23 , #bc00fb00);
  }
  94% {
    background: linear-gradient(#bc00fb00, #bc00fb2e , #bc00fb00);
  }
  95% {
    background: linear-gradient(#bc00fb00, #bc00fb46 , #bc00fb00);
  }
  96% {
    background: linear-gradient(#bc00fb00, #bc00fb60 , #bc00fb00);
  }
  97% {
    background: linear-gradient(#bc00fb00, #bc00fb8a , #bc00fb00);
  }
  98% {
    background: linear-gradient(#bc00fb00, #bc00fb9c , #bc00fb00);
  }
  99% {
    background: linear-gradient(#bc00fb00, #bc00fb9c , #bc00fb00);
  }
  100% {
    background: linear-gradient(#bb00fb12, #bc00fbb3, #bb00fb12);
  }
}


#navbar h1, #navbar-stay h1 {
  letter-spacing: 10px;
  color: white;
  font-size: 40px;
  margin-bottom: 70px;
  text-shadow: 0 1px 0 #ccc,
    0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgb(0, 0, 0),
    0 3px 5px rgb(0, 0, 0),
    0 5px 10px rgb(0, 0, 0),
    0 10px 10px rgb(0, 0, 0),
    10px 10px 20px rgb(109, 109, 109);
}

#app {
  background-color:rgba(15, 15, 15, 0.87);
  border-radius: 10px;
  height: calc(100% - 1em);
  -webkit-animation: fadeinbackground 3s;
  transition: all ease-in-out;
}


@-webkit-keyframes fadeinbackground {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  33% {
    background-color: rgba(255, 255, 255, 0.153);
  }

  100% {
    background-color: rgba(15, 15, 15, 0.87);
  }
}

#options-div {
  -webkit-animation: fadein 3s;
}


input {
  background-color: white;

  margin: 5px
}

.login-window {
  height: 70vh;
  margin-top: 10vh;
}

#login-disappear {
  text-align: center;
  // margin-bottom: 91%;
    color: #0e386c;
    font-size: 2em;
    opacity: 0;
    -webkit-animation: neon2 1s ease-in-out infinite alternate, fadeinout 6s;
    -moz-animation: neon2 1s ease-in-out infinite alternate, fadeinout 6s;
    animation: neon2 1s ease-in-out infinite alternate, fadeinout 6s;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1a4275, 0 0 35px #1a4275, 0 0 40px #1a4275, 0 0 50px #1a4275, 0 0 75px #1a4275;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #1a4275, 0 0 17px #1a4275, 0 0 20px #1a4275, 0 0 25px #1a4275, 0 0 37px #1a4275;
  }
}

@-webkit-keyframes fadeinout{
  0% {
    opacity: 0.0;
  }
  35% {
    opacity: 0.0;
  }
  74% {
    opacity: 1.0;
    transform: scale(1);
  }
  100% {
    opacity: 0.0;
    transform: scale(0.5) translateY(500%);
  }
}

#or {
  -webkit-animation: fadein2 8s, neon 1s ease-in-out infinite alternate;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 1.5em;
  margin: 0.4em;
}

.login {
  margin-top: 0;
  font-size: 2.8em;
  text-align: center;
  padding-top: 0;
  transition: all .2s ease-in-out;
  -webkit-animation: fadein2 8s;

  a {
    color: white;
    -webkit-text-fill-color: rgb(14, 56, 107);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
  }

  &-main {
    -webkit-animation: fadein2 7s ease-in-out;
    margin-top: 4vh;
    padding-bottom: 0;
    font-size: 2.8em;
    text-align: center;
    transition: all .2s ease-in-out;


    a {
      color: white;
      transition: none;
    -webkit-text-fill-color: rgb(14, 56, 107);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    }

  }
}

@-webkit-keyframes fadein2 {
  0% {
    opacity: 0.0;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

#step-one {
  -webkit-animation: fadein 2s;
}

#step-two {
  -webkit-animation: fadeinsteptwo 3s;
}

@-webkit-keyframes fadeinsteptwo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.login:hover {
  transform: scale(1.3);
}

.login-main:hover {
  transform: scale(1.3);
}

#options-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center
}

#chose-tags{
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  box-shadow: 5px 5px 25px -8px #30271F, 
  0px 0px 25px -2px rgba(250, 252, 210, 0.119), 
  0px 3px 16px 2px rgba(254, 249, 210, 0.139);
  font-size: 2em;
  text-shadow: 
  0 6px 1px rgba(113, 113, 113, 0.043),
  0 0 5px rgba(126, 126, 126, 0.043),
  0 1px 3px rgba(114, 114, 114, 0.16),
  0 2px 4px rgba(116, 116, 116, 0.119),
  0 2px 5px rgba(125, 125, 125, 0.16),
  0 5px 5px rgba(130, 130, 130, 0.091),
  0 10px 10px rgba(114, 114, 114, 0.077);
  border-width: 0px;
  // border-style: solid;
  // border-color: black;
  background-color: rgba(62, 54, 255, 0.36);
  color: white;
  visibility: visible;
  animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 1.7em;
  letter-spacing: 2vw;
}

// #pick-song {
//   margin-top: 0;
//   -webkit-animation: fadein 2s;
//   transition: all ease-in-out;
// }

form {
  -webkit-animation: fadein 3s;
  transition: all ease-in-out;
}

#chose-tags-disable{
  width: 50%;
  height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.431);
  font-size: 2em;
  box-shadow: 5px 5px 25px -8px #30271F, 0px 0px 95px -30px #715c76;
  background-color: #ffffff3d;
  border-width: 0px;
  visibility: hidden;
  position: fixed;
}

#chose-tags:hover {
  -webkit-animation: whitetoblue 2s alternate, neon 1.5s ease-in-out infinite alternate;;
  animation-iteration-count: infinite;
  font-size: 1.7em;
  letter-spacing: 2vw;
}

@-webkit-keyframes whitetoblue {
  from {
    background-color: rgba(62, 54, 255, 0.36);
    color: white
  }
  to {
    background-color: rgba(255, 255, 255, 0.653);
    color: rgb(0, 60, 128);
  }
}

#deleted-too-many {
  text-align: center;
}

#options-div h3 h4 {
  margin: 0
}

.tag-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  // -webkit-animation: fadein 4s;
  -webkit-animation: fadeinsteptwo 8s;
}

.tag-holder div {
  // border-style: solid;
  // border-width: 2px;
  // border-color: black
}

div.tag, div.taga {
  height: 5em;
  font-size: 20px;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;

/* Non standard for webkit */
   word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

div.tag {
  // -webkit-animation: flyin 1s;
}

div.taga {
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes flyin {
  0% {
    transform: scale(0);
    border-radius: 2.5em;
  }
  100% {
    transform: scale(1);
    border-radius: 10px;
  }
}

#pool {
  text-align: center;
  -webkit-text-fill-color: rgba(14, 56, 108, 0.75);
  -webkit-text-stroke-width: 2px;
  // animation: neon 1.5s ease-in-out infinite alternate;
  font-size: 3em;
  letter-spacing: 3vw;
  -webkit-animation: fadeinsteptwo 6s, neon 1.5s ease-in-out infinite alternate;
  // animation-delay: 5s;
}

.tag, .taga {
  width: 5em;
  height: 5em;
  padding: 5px;
  margin: 5px;
  background-color: rgba(172, 2, 241, 0.44);
  border-radius: 10px;
  border-width: 1px;
  border-color: darkgray;
  display: flex;
  font-size: 25px;
  overflow-wrap: break-word;
  color: white;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  transform: scale(1.1);
  background-color: white;
  color: rgb(0, 60, 128);
  text-shadow: 
  0 6px 1px rgba(113, 113, 113, 0.043),
  0 0 5px rgba(126, 126, 126, 0.043),
  0 1px 3px rgba(114, 114, 114, 0.16),
  0 2px 4px rgba(116, 116, 116, 0.119),
  0 2px 5px rgba(125, 125, 125, 0.16),
  0 5px 5px rgba(130, 130, 130, 0.091),
  0 10px 10px rgba(114, 114, 114, 0.077);
}

.tag div, .taga div {
  width: 150px;
  height: 75px;
  border-width: 0px
}

.chosentag div, .chosentaga div {
  height: 5em;
  font-size: 25px;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;

/* Non standard for webkit */
   word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  border-width: 0px
}

.chosentag {
  width: 5em;
  height: 5em;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color: darkgray;
  display: flex;
  font-size: 20px;
  overflow-wrap: break-word;
  background-color: white;
  color: rgb(0, 60, 128);
  text-shadow: 
  0 6px 1px rgba(113, 113, 113, 0.043),
  0 0 5px rgba(126, 126, 126, 0.043),
  0 1px 3px rgba(114, 114, 114, 0.16),
  0 2px 4px rgba(116, 116, 116, 0.119),
  0 2px 5px rgba(125, 125, 125, 0.16),
  0 5px 5px rgba(130, 130, 130, 0.091),
  0 10px 10px rgba(114, 114, 114, 0.077);
}

.remove-button {
  background-color: #ffffff00;
  padding: 0 0 0px 0;
  margin: 0;
  height: 18px;
  width: 25px;
  font-weight: bolder;
  border-color: black;
  border-width: 0px;
  font-size: 10px;
  border-radius: 5px;
  border-width: 0px;
  justify-content: center;
  // -webkit-animation: flyin 1.4s;
}


.remove-button:hover {
  background-color: red
}

#global {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: none;
}

.directions {
  text-align: center;
  -webkit-text-fill-color: rgba(14, 56, 108, 0.75);
  -webkit-text-stroke-width: 1px;

  h3 {
    margin-top: 0.3em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-top: 0em;
    font-size: 1.3em;
    margin-bottom: 0em;
  }
}

#options-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.center-text {
  text-align: center;
}

#player {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#player-wrapper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

#player div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.left, .left th {
  text-align: left
}

.flex-center div, .flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hard-center {
  position: fixed;
  margin-left: 40%;
  margin-right: 60%

}

#loading {
  margin-top: 75px;
  width: 75%
}

th {
  background-color: #d3d3d345;
  border-radius: 5px;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.row th {
  text-align: left;
  font-weight: lighter;
}

.small-spotify-logo {
  margin-top: 0.3em;
  width: 1.5em !important;
  height: 1.5em !important;
  min-width: 1.5em !important;
  min-height: 1.5em !important;
}


table {
  width: 90%;
  padding-left: 10%;
  font-weight: lighter;
  margin-top: 1em;
}

th:hover {
  background-color: #404040;
  color: white;
  font-weight: lighter;
}

.left th {
  text-align: left;
  font-weight: lighter;
}

.leftselect, .leftselect th {
  text-align: left;
  font-weight: lighter;
  background-color: #1a4275;
  color: white;
}

.left th:hover {
  background-color: white;
  color: black;
}

// .th-title:hover {
//   color: white;
//   background-color: #194276;
//   border-radius: 5px;
//   padding-left: 15px;
//   padding-right: 15px;
//   text-align: center;
//   padding-top: 7px;
//   padding-bottom: 7px;
// }

.th-title {
  background-color: #194276;
  font-weight: lighter;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  &-x {
    background-color: #194276;
    font-weight: lighter;
    text-align: center;
    width: 1%;
    padding: 0;
    border-radius: 5px;
  }
}

.th-title-x:hover {
  td {
    padding: 0 !important;
  }
}

.hover-red:hover {
  background-color: red;
  color: white;
  font-weight: lighter;
}

#player {
  margin-top: 8px;
}


div.control {
  border-radius: 5px;
}

.control {
  margin-top: 30vh;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
  padding: 10px;
  background-color: #194276;
}

.control:hover {
  margin-top: 30vh;
  height: 20px;
  padding: 10px;
  color: white;
  background-color: #404040;
}

.spotify-image {
  background-color: #282828;
  border-radius: 5px;
  justify-content: space-evenly !important;
  padding-left: 0.5em;
  padding-right: 0.2em;
}

.artist-thumb {
    width: 15vw;
    height: 15vw;
    max-width: 5em;
    max-height: 5em;
    min-width: 3.7em;
    min-height: 3.7em;
    transition: 0.2s ease-in-out;
}

.artist-thumb:hover {
  transform: scale(2.5);
  z-index: 100;
}

h1#navmargin {
  margin-top: 9%;
  transition: all .2s ease-in-out;
}

h1#navmargin:hover {
  transform: scale(1.1);
}

div.line {
  margin-left: 0
}

#sorry {
    margin-top: 10%;
    margin-bottom: 70%;
    -webkit-animation: fadein 2s;
}

.did-you-mean {
  margin: 8px;
}

.spotify-iframe {
  height: 5em;
}

.play-button {
  opacity: 0.8;
  width: 1.6em !important;
  height: 1.6em !important;
  min-width: 1.6em !important;
  min-height: 1.6em !important;
}

.spotify-controls {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-left: 0.3em;
}

.hover-red {
  font-size: 3em;
  font-weight: lighter;
}

.greeting {
  margin-top: 1em;
  margin-bottom: -1em;;
  -webkit-animation: fadein 3s;
}

#too-many-chosen {
  text-align: center;
  margin-bottom: 1em;
}

#export {
  padding-bottom: 1em;
  // width: 50%;
  // margin-left: 25%;
  font-size: 1.7em;
  transition: all .2s ease-in-out;
}

#export:hover {
  transform: scale(1.2);
}

th {
  font-weight: lighter !important;
  background-color: #282828;
}

button {
  font-family: Nunito;
}

#navbar  {
  h1 {
      // font-size: 1.5em;
      // color: #228DFF;
      -webkit-text-fill-color: hsla(213, 77%, 24%, 0.85);
      -webkit-text-stroke-width: 3px;
      // font-family: Iceland;
      -webkit-animation: headerfly 6s, neon 1.5s ease-in-out infinite alternate;
      -moz-animation: headerfly 6s, neon 1.5s ease-in-out infinite alternate;
      animation: headerfly 6s, neon 1.5s ease-in-out infinite alternate;
    }
}

#navbar-stay {
  h1 {
      // font-size: 1.5em;
      // color: #228DFF;
      -webkit-text-fill-color: hsla(213, 77%, 24%, 0.75);
      -webkit-text-stroke-width: 2px;
      // font-family: Iceland;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
      -moz-animation: neon 1.5s ease-in-out infinite alternate;
      animation: neon 1.5s ease-in-out infinite alternate;
    }
  }

#safari {
  // background-color: rgba(16, 16, 16, 0.577);
  color: white;
  font-size: 3em;
  margin-top: 50vh;
  margin-bottom: 80vh;
}

#spotify-logo, #youtube-logo {
  width: 1.5em;
  padding-left: 0.5em;
  transform: translateY(0.4em);
  opacity: 0.8;
}

#youtube-logo {
  width: 2.5em;
  transform: translateY(0.4em);
}

.login {
  a {
    color: #0e386c;
    -webkit-animation: neon 1s ease-in-out infinite alternate;
  }
  &-main {
    a {
      transform: translateX(-0.8em);
      color: #0e386c;
      -webkit-animation: neon 1s ease-in-out infinite alternate;
    }
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 8px #fff,  0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 60px #228DFF, 0 0 70px #228DFF, 0 0 90px #228DFF;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #228DFF, 0 0 17px #228DFF, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 45px #228DFF;
  }
}

@-webkit-keyframes headerfly {
  0% {
    transform: translateY(300%) scale(0.1) translateX(-5%);
    -webkit-text-fill-color: hsla(213, 77%, 24%, 0.75);
    opacity: 0.0;
    // text-shadow: none !important;
  }
  50% {
    transform: translateY(360%) scale(2);
    -webkit-text-fill-color: hsla(213, 77%, 24%, 0.75);
    opacity: 1.0;
    // text-shadow: none !important;
  }
  75% {
    transform: translateY(360%) scale(2);
    -webkit-text-fill-color: hsla(213, 77%, 24%, 0.75);
  }
  100% {
    transform: translateY(0) scale(1);
    -webkit-text-fill-color: hsla(213, 77%, 24%, 0.75);
  }
}




@media only screen and (max-width: 600px) {
  html {
    width: 100%;
  }
  #player {
    width: 100%
  }
}


